# ==============================================================================
    GITIGNORE
# ==============================================================================

lib/*
build/*
.idea
!build/cmake_template.cmake
!build/CMakeLists.txt
!build/iMake
